/*
 선택자 1: 전체 선택자
 선택자{속성: 속성값;}
*/
* {
 color:#ff0000;
 border: 1px solid #ff0000;
}

/*
 선택자 2: 태크 선택자
*/
h3{
    color: #00ff00;
    border: 0px;
}

p{
    color: #0000ff;
    border: 1px dashed #0000ff;
}

b{
    color: #c962aa;
    background-color: rgb(0, 0, 0);
}

input{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
